@media (max-width: 900px) {
  .groupCell1 > span {
    width: 659.51px !important;
    height: 467px !important;
  }
  .groupCell2 > span {
    width: 385.02px !important;
    height: 467px !important;
  }
  .groupCell3 > span {
    width: 627.27px !important;
    height: 467px !important;
  }
  .groupCell4 > span {
    width: 671.49px !important;
    height: 467px !important;
  }
}
@media (max-width: 768px) {
  .groupCell1 > span {
    width: 588.9px !important;
    height: 417px !important;
  }
  .groupCell2 > span {
    width: 343.8px !important;
    height: 417px !important;
  }
  .groupCell3 > span {
    width: 560.11px !important;
    height: 417px !important;
  }
  .groupCell4 > span {
    width: 599.59px !important;
    height: 417px !important;
  }
}
@media (max-width: 576px) {
  .groupCell1 > span {
    width: 389.78px !important;
    height: 276px !important;
  }
  .groupCell2 > span {
    width: 227.55px !important;
    height: 276px !important;
  }
  .groupCell3 > span {
    width: 370.72px !important;
    height: 276px !important;
  }
  .groupCell4 > span {
    width: 396.85px !important;
    height: 276px !important;
  }
}
@media (max-width: 448px) {
  .groupCell1 > span {
    width: 319.16px !important;
    height: 226px !important;
  }
  .groupCell2 > span {
    width: 186.33px !important;
    height: 226px !important;
  }
  .groupCell3 > span {
    width: 303.56px !important;
    height: 226px !important;
  }
  .groupCell4 > span {
    width: 324.96px !important;
    height: 226px !important;
  }
}
