@import '../fonts.styles.css';
// .page {
//   padding: 0 4vw;
// }

// global fonts
.headHone,
.headHtwo,
.headHthree,
.headH4,
.headH5,
.navBtn,
.registerBtn {
  font-family: 'GalanoGrotesqueAltDEMO';
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
}
.headHone,
.headHtwo {
  letter-spacing: 1.5px;
}
.headHone {
  font-size: 140px;
  line-height: 130px;
}
.headHtwo {
  font-size: 100px; 
  line-height: 130px;
}
.headHthree {
  font-size: 32px; 
  line-height: 43px;
  color: #7CAFFF;
}
.headH4 {
  font-size: 26px; 
  line-height: 40px;
}
.headH5 {
  font-size: 22px;
  line-height: 40px;
}
.paragraph {
  font-family: 'Poppins-Medium';
  font-size: 22px;
  color:#FFFFFF ;
  line-height: 33px;
}
// header
.headerContainer {
  position: fixed;
  z-index: 99;
  z-index: 100;
  padding: 40px 4vw;
  max-width: unset;
}
// .headerContainerActive {
//   position: fixed;
//   z-index: 100;
//   padding: 20px 4vw;
//   max-width: unset;
//   background-color: #ffffff;
// }
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// header nav bar
.navbarContainer {
  display: flex;
  justify-content: flex-end;
  font-family: 'Poppins-Medium';
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.navbarCollapse {
  justify-content: space-evenly;
  top: 45px;
}
.navbarToggle {
  border-color: transparent !important;
}
.navbarToggle:focus {
  box-shadow: none;
}
.navbarToggle > span {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbarToggleActive > span {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(12,37,108, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navBtn {
  color: #ffffff !important;
  padding: 8px 40px 8px 8px !important;
  font-size: 16px;
  word-wrap: normal;
}
.navBtn:nth-child(4) {
  width: 256px;
}
.navBtnActive {
  color: #0c256c !important;
  padding: 8px 40px 8px 8px !important;
}
.registerBtn {
  border-radius: 29px;
  color: #ffffff !important;
  padding: 10px 25px !important;
  background: #5597FF;
  font-size: 23px;
}

// hero banner section
.bnr {
  height: 100vh;
  color: #ffffff;
  position: relative;
}
// .bnr::before,
// .bnr::after {
//   content: '';
//   display: block;
//   position: absolute;
//   width: 100vw;
//   /* ??? how to combine the next section height */
//   height: 200vh;
//   top: 0;
//   right: 0;
// }
// .bnr::before {
//   background: rgb(134, 134, 134);
//   background: linear-gradient(
//     360deg,
//     rgba(134, 134, 134, 1) 0%,
//     rgba(0, 0, 0, 1) 100%
//   );
//   z-index: -100;
// }
// .bnr::after {
//   background: rgb(48, 105, 179);
//   background: linear-gradient(
//     90deg,
//     rgba(48, 105, 179, 1) 35%,
//     rgba(88, 89, 91, 1) 100%
//   );
//   opacity: 0.7;
//   z-index: -98;
// }
.bgImgContainer {
  position: fixed;
  background-image: url(../../public/images//HQ-TeaserWeb-landing.png);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -99;
}

// bnr intro
// .bnrIntroContainer {
//   position: fixed;
//   width: 100vw;
//   height: 100vh;
//   top: 0;
//   left: 0;
//   z-index: 0;
// }
// .bnrIntro {
//   position: relative;
//   height: 100vh;
// }
.headline {
  position: fixed;
  left: 80px;
  bottom: 171px;
  z-index:0;
}
.address {
  font-family: 'GalanoGrotesqueAltDEMO';
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
}
.arrowDownContainer {
  position: fixed;
  left: 80px;
  bottom: 57px;
}
.unionalliedlogoContianer {
  position: fixed;
  right: 80px;
  bottom: 57px;
}


.hero {
  background-image: url(../../public/images/HQ-TeaserWeb-landing.png);
  width: 100%;
  height: 108vh;
  z-index:-1;
}

.heroBg {
  position: relative;
  width: 100%;
  height: 108vh;
}
.HeroOverLay {
  background: linear-gradient(45deg, #101b40, #217672);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
}

.introContainer {
  position: absolute;
  bottom: 2%;
  width: 40%;
  z-index: 11;
  color: #ffffff;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introHeading {
  font-family: 'ActayWide-Bold', sans-serif;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.5px;
  font-weight: bold;
  text-align: center;
}
.heroSubtitle {
  margin-bottom: 15vh;
}
.heroSubtitle {
  font-family: 'Poppins-Bold';
  color: #2bfff6;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: center;
}

// opportunity section
.opportunity {
  position: relative;
  background: rgb(134, 134, 134);
  background: linear-gradient(
    360deg,
    rgba(134, 134, 134, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  padding: 100px 0px;
}
.opportunity::after {
  content: '';
  display: block;
  position: absolute;
  width: 100vw;
  bottom: 0;
  top: 0;
  right: 0;
  background: rgb(48, 105, 179);
  background: linear-gradient(
    90deg,
    rgba(48, 105, 179, 1) 35%,
    rgba(88, 89, 91, 1) 100%
  );
  opacity: 0.7;
  z-index: 90;
}
.opportunityContainer {
  position: relative;
  z-index: 98;
  max-width: 1780px;
}
.opportunityIntro {
  display: inline-flex;
  justify-content: space-between;
}
.opportunityIntro .headHthree {
  border-top: 1px solid #7CAFFF;
  text-transform: uppercase;
  padding-top: 30px;
}
.hqStrataUnits {
  margin: 100px 0px;
}
.opportunityDetail {
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}













.projectContainer {
  background-color: #ededed;
  padding: 6vw 4vw;
}
.projectRowOneText {
  margin-top: -73px;
  position: relative;
}
.projectHeadingBox {
  display: flex;
  flex-direction: row;
}
.projectArrow {
  padding-top: 7.5px;
}
.projectHeading {
  font-family: 'ActayWide-Bold', sans-serif;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #21409a;
  padding-left: 20.5px;
  max-width: 400px;
}
.projectText {
  font-family: 'Poppins-Light';
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-weight: light;
  color: #0c256c;
}

// project video
.projectRowVideo {
  padding-top: 101px;
}
.projectVideo {
  width: 100% !important;
  height: 100% !important;
}
//

.projectRowTwo {
  padding-top: 101px;
}
.projectSubtitle {
  font-family: 'Poppins-SemiBold';
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #21409a;
  border-bottom: dashed 1px #00d1c8;
  padding-bottom: 15.5px;
  padding-top: 20.5px;
}
.projectNote {
  font-family: 'Poppins-LightItalic';
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-weight: light;
  color: #0c256c;
}
.projectNoteTwo {
  display: none;
}


// location
.locationHeading {
  font-family: 'ActayWide-Bold', sans-serif;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #21409a;
  display: flex;
  padding-top: 20.5px;
}

.locationContainer {
  background-color: #ffffff;
  padding: 4vw 4vw;
}
.locationParagrah {
  font-family: 'Poppins-Light';
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-weight: light;
  color: #0c256c;
  padding-bottom: 50px;
}
.accordionContainer {
  margin-left: -20px;
}
.accordionHeader {
  border-bottom: dashed 1px #00d1c8;
  padding-top: 20.5px;
}
.accordionHeader > button {
  font-family: 'ActayWide-Bold', sans-serif;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #21409a;
}
.locationArrow {
  padding-right: 20.5px;
}
.accordionItem {
  border: unset;
}
.accordionHeader > button:after {
  background-image: unset;
}
.accordionHeaderAcitve > button:not(.collapsed):after {
  background-image: unset !important;
}
.accordionHeaderAcitve > button:not(.collapsed) {
  box-shadow: unset !important;
  background-color: unset !important;
}
.accordionHeaderAcitve > button {
  font-family: 'ActayWide-Bold', sans-serif;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #00d1c8 !important;
}
.accordionBody {
  padding-left: 87.5px;
}
.locationTextOne {
  font-family: 'Poppins-SemiBold';
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #00d1c8;
  min-width: 78px;
}
.locationTextTwo {
  font-family: 'Poppins-SemiBold';
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #21409a;
  padding-left: 5px;
}
.locationTextContainer {
  display: flex;
  border-bottom: dashed 1px #00d1c8;
  padding-top: 20.5px;
  padding-bottom: 15.5px;
}
.locationText {
  font-family: 'Poppins-Light';
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.5px;
  font-weight: light;
  color: #0c256c;
}


// penny location
.location {
  background-color: #FFFFFF;
}
.locationContainer {
  max-width: 1780px;
}
.locationRow {
  margin: 100px auto;
}
.location .headHtwo {
  color: #3069B3;
}
.location .headHthree {
  color: #5597FF;
  border-top: 1px solid #58595B;
  padding-top: 30px;
  padding-bottom: 60px;
}
.location .paragraph {
  color: #58595B;
}

// building
.sidebar {
  max-width: 100vw;
}
.headH5Con:nth-child(1) {
  background-color: #F77900;
}
.headH5Con:nth-child(2) {
  background-color: #FFF400;
}
.headH5Con:nth-child(2) .headH5,
.headH5Con:nth-child(3) .headH5 {
  color: #333333;
}
.headH5Con:nth-child(3) {
  background-color: #FAA9AE;
}
 .headH5Con:nth-child(4) {
  background-color: #6BC158;
}
.sidebar .headH5 {
margin-bottom: 0;
text-align: center;
padding: 10px;
}

.listItemsAcitve {
  background-color: #FFF400;
  position: relative;
}
.listItemsAcitve .headH5 {
  color: #333333;

}

.headH5Con .listItemsContainer {
  display: none;
}

.listItemsAcitve .listItemsContainer {
  display: block;
  position: absolute;
  transform: translate(-0.7rem, -274px);
  background-color:#FFF400;
  z-index: 98;
  width: 100%;
  padding: 40px;
}
.listItemsContainer .listItems {
  margin: 0 auto;
  list-style: none;
}
.listItemsContainer .listItems .item {
  font-family: 'Poppins-Medium';
  font-size: 18px;
  line-height: 27px;
  color: #333333;
}









// feature section

.featureContainer {
  padding: 100px 4vw 130px 4vw;
  background: linear-gradient(180deg, #000c6c, #00b4ad);
}
.featureList {
  margin-top: -120px;
}
.featureBox {
  padding-top: 51.5px;
  padding-bottom: 26.5px;
  display: flex;
  border-bottom: dashed 1px #ffffff;
}
.featureTextBox {
  padding-left: 30px;
}
.featureTextOne {
  font-family: 'ActayWide-Bold', sans-serif;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.5px;
  font-weight: 700;
  color: #2bfff6;
}
.featureTextTwo {
  font-family: 'Poppins-Medium';
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #ffffff;
}
.floorContainer {
  padding-top: 101.5px;
}
.floorPlan {
  max-width: 100%;
}
.floorBtnBox {
  display: flex;
  justify-content: center;
}
.floorBtn {
  border-radius: 29px;
  padding: 14px 70px;
  font-family: 'Poppins-Bold';
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.5px;
  font-weight: 700;
  color: #ffffff;
  background: linear-gradient(0deg, #1212bf, #00d8ce);
  border: unset;
  margin-top: 80px;
}

// gallery section
.galleryContainer {
  background-color: #ededed;
  padding: 125px 4vw 154px 4vw;
}
.carouselControlPrevIcon {
  position: relative;
  top: 50%;
  left: 520%;
  width: 82px;
  height: 82px;
  background-image: url(../../public/images/pre-arrow.svg);
}
.carouselControlNextIcon {
  position: relative;
  top: 50%;
  width: 82px;
  height: 82px;
  background-image: url(../../public/images/next-arrow.svg);
}
.developerContainer {
  padding: 134px 4vw 160px 4vw;
  background-color: #ffffff;
}
.developerLink {
  text-decoration: none;
  color: #0c256c;
  font-family: 'Poppins-Bold';
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-weight: 700;
}
// .developerRowOneText {
//   margin-top: -60px;
// }
.developerHeading {
  font-family: 'ActayWide-Bold', sans-serif;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.5px;
  font-weight: 700;
  color: #00e5db;
  padding-left: 20.5px;
  // max-width: 400px;
}
.developerSubtitle {
  font-family: 'ActayWide-Bold', sans-serif;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #21409a;
  padding-top: 50.5px;
}
.developerTextBox {
  padding-top: 40px;
  padding-left: 67.5px;
}
.developerText {
  padding-top: 28.5px;
  color: #0c256c;
  font-family: 'Poppins-Light';
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-weight: 300;
}

.bgContainer {
  position: relative;
  background: linear-gradient(0deg, #000c6c, #00b4ad);
  // background-image: url(../../public/images/HPP-BG.svg);
}
.registerContainer {
  padding: 101px 4vw 0 4vw;
  position: relative;
}
.registerRowOne {
  padding-left: 67.5px;
  padding-top: 105px;
}
.registerHeading {
  font-family: 'ActayWide-Bold', sans-serif;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #ffffff;
  padding-left: 20.5px;
  max-width: 400px;
}
.registerColLeft {
  padding-right: 70.5px;
}
.registerColRight {
  padding-left: 70.5px;
}
.registerSelect {
  width: 100%;
  color: #ffffff;
  margin-bottom: 50.5px;
  border-bottom: dashed 1px #ffffff;
}
.registerCheckBoxLabel {
  color: #ffffff;
  font-family: 'Poppins-Medium';
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-weight: 400;
  padding-left: 12px;
}
.registerOption {
  width: 100%;
  color: #ffffff;
}
.registerCheckbox {
  display: flex;
  padding-top: 38px;
  padding-bottom: 51px;
}
.registerCheckboxInput {
  height: 25px;
  width: 25px;
  border: 1px solid #ffffff;
  cursor: pointer;
  position: relative;
  top: 7px;
  // -webkit-appearance: none;
}
.registerFormInput {
  border-bottom: dashed 1px #ffffff;
  margin-bottom: 50.5px;
  color: #ffffff;
}
.registerFormLabel {
  color: #ffffff;
  font-family: 'Poppins-Medium';
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-weight: 400;
}
.registerAgreeLabel {
  color: #ffffff;
  font-family: 'Poppins-Light';
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.5px;
  font-weight: 300;
  padding-left: 12px;
  width: 100%;
}
.registerSubmitBtn {
  border-radius: 29px;
  padding: 14px 70px;
  font-family: 'Poppins-Bold';
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.5px;
  font-weight: 700;
  color: #ffffff;
  background: linear-gradient(180deg, #1212bf, #00d8ce);
  border: unset;
  margin-top: 80px;
}
// .footerSecion {
//   background: #1426b959;
// }
// .footerOverlay {
//   position: absolute;
//   width: 100%;
//   height: 100%;
// }

.contactText {
  font-family: 'Poppins-SemiBold';
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #ffffff;
}
.contactName {
  padding-bottom: 28px;
}
.contactSpacer {
  border-bottom: dashed 1px #ffffff;
  padding-top: 60.5px;
}
.contactSpacerTwo {
  padding-top: 60.5px;
}
.footerOverlayTwo {
  position: absolute;
  width: 100%;
  height: 100%;
}
.footerContainer {
  // background-color: #1426b9;
  // opacity: 0.4;
  padding: 100px 4vw 114px 4vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
}
.footerLinkBox {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-family: 'Poppins-Medium';
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-weight: 300;
  padding-top: 70.5px;
}
.footerLinkSpace {
  padding: 0 5px;
}
.footerLink {
  text-decoration: none;
  color: #ffffff;
}
.footerText {
  color: #ffffff;
  font-family: 'Poppins-Light';
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.5px;
  font-weight: 300;
  padding-top: 25px;
}
.responseMessage {
  color: #ffffff;
  font-family: 'Poppins-Medium';
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.contactPhone [href^='tel'] {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 576px) {
  .carouselControlPrevIcon {
    top: 47%;
    left: 460%;
    width: 41px;
    height: 41px;
    background-image: url(../../public/images/pre-arrow-small.svg);
  }
  .carouselControlNextIcon {
    top: 47%;
    width: 41px;
    height: 41px;
    background-image: url(../../public/images/next-arrow-small.svg);
  }
  .projectRowVideo {
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
  }
  .projectRowVideoCol {
    margin-left: -4vw;
    margin-right: -4vw;
  }
  .footerLinkBox {
    font-size: 10px;
  }
}
@media (max-width: 768px) and (min-width: 576px) {
  .carouselControlPrevIcon {
    left: 420%;
  }
  .carouselControlNextIcon {
    right: 20%;
  }
}
@media (max-width: 768px) {
  .featureTextBox {
    width: 80%;
  }
  .footerText {
    font-size: 10px;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .carouselControlPrevIcon {
    left: 470%;
  }
}

@media (max-width: 992px) {
  .navbarCollapse {
    background-color: #ffffff;
    border: solid 1px #217672;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50px;
    border-radius: 29px 0 29px 29px;
  }
  .navBtn {
    padding: 8px !important;
    color: #0c256c !important;
  }
  .navBtnActive {
    padding: 8px !important;
  }
  .introContainer {
    width: 80%;
  }
  .introHeading {
    font-size: 25px;
  }
  .heroSubtitle {
    margin-bottom: 8vh;
  }
  .projectRowOneText {
    // margin-top: -35px;
    margin-top: 0;
  }
  .projectContainer {
    padding-top: 100px;
  }
  .projectTextBox {
    padding-top: 50px;
  }
  .projectNote {
    display: none;
  }
  .projectNoteTwo {
    display: block;
    font-family: 'Poppins-LightItalic';
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.5px;
    font-weight: light;
    color: #0c256c;
  }
  .featureList {
    // margin-top: -83px;
    margin-top: 0;
  }
  .developerRowOneText {
    margin-top: 0;
  }
  .developerTextBoxEmpty {
    padding-top: 50px;
  }
  .registerColRight {
    padding-left: 12px;
    padding-right: 70.5px;
  }
  .accordionContainer {
    padding-top: 50px;
  }
  .contactColRight {
    padding: 50px 70.5px 0 79.5px;
  }
  .contactText {
    font-size: 11px;
  }
  .contactTextTwo {
    font-size: 18px;
  }
  .contactName {
    padding-bottom: 0;
  }
}
@media (max-width: 1500px) and (min-width: 992px) {
  .carouselControlPrevIcon {
    left: 500%;
  }
}
