@font-face {
  font-family: 'Helvetica';
  src: url('/Fonts/Helvetica-LightOblique.eot');
  src: url('/Fonts/Helvetica-LightOblique.eot?#iefix')
      format('embedded-opentype'),
    url('/Fonts/Helvetica-LightOblique.woff2') format('woff2'),
    url('/Fonts/Helvetica-LightOblique.woff') format('woff'),
    url('/Fonts/Helvetica-LightOblique.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/Fonts/Helvetica-BoldOblique.eot');
  src: url('/Fonts/Helvetica-BoldOblique.eot?#iefix')
      format('embedded-opentype'),
    url('/Fonts/Helvetica-BoldOblique.woff2') format('woff2'),
    url('/Fonts/Helvetica-BoldOblique.woff') format('woff'),
    url('/Fonts/Helvetica-BoldOblique.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/Fonts/Helvetica-Light.eot');
  src: url('/Fonts/Helvetica-Light.eot?#iefix') format('embedded-opentype'),
    url('/Fonts/Helvetica-Light.woff2') format('woff2'),
    url('/Fonts/Helvetica-Light.woff') format('woff'),
    url('/Fonts/Helvetica-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/Fonts/Helvetica.eot');
  src: url('/Fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
    url('/Fonts/Helvetica.woff2') format('woff2'),
    url('/Fonts/Helvetica.woff') format('woff'),
    url('/Fonts/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/Fonts/Helvetica-Bold.eot');
  src: url('/Fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
    url('/Fonts/Helvetica-Bold.woff2') format('woff2'),
    url('/Fonts/Helvetica-Bold.woff') format('woff'),
    url('/Fonts/Helvetica-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/Fonts/HelveticaNeue.eot');
  src: url('/Fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
    url('/Fonts/HelveticaNeue.woff2') format('woff2'),
    url('/Fonts/HelveticaNeue.woff') format('woff'),
    url('/Fonts/HelveticaNeue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/Fonts/HelveticaNeue-Bold.eot');
  src: url('/Fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
    url('/Fonts/HelveticaNeue-Bold.woff2') format('woff2'),
    url('/Fonts/HelveticaNeue-Bold.woff') format('woff'),
    url('/Fonts/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/Fonts/HelveticaNeue-CondensedBlack.eot');
  src: url('/Fonts/HelveticaNeue-CondensedBlack.eot?#iefix')
      format('embedded-opentype'),
    url('/Fonts/HelveticaNeue-CondensedBlack.woff2') format('woff2'),
    url('/Fonts/HelveticaNeue-CondensedBlack.woff') format('woff'),
    url('/Fonts/HelveticaNeue-CondensedBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/Fonts/HelveticaNeue-BoldItalic.eot');
  src: url('/Fonts/HelveticaNeue-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/Fonts/HelveticaNeue-BoldItalic.woff2') format('woff2'),
    url('/Fonts/HelveticaNeue-BoldItalic.woff') format('woff'),
    url('/Fonts/HelveticaNeue-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/Fonts/HelveticaNeue-CondensedBold.eot');
  src: url('/Fonts/HelveticaNeue-CondensedBold.eot?#iefix')
      format('embedded-opentype'),
    url('/Fonts/HelveticaNeue-CondensedBold.woff2') format('woff2'),
    url('/Fonts/HelveticaNeue-CondensedBold.woff') format('woff'),
    url('/Fonts/HelveticaNeue-CondensedBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/Fonts/HelveticaNeue-LightItalic.eot');
  src: url('/Fonts/HelveticaNeue-LightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/Fonts/HelveticaNeue-LightItalic.woff2') format('woff2'),
    url('/Fonts/HelveticaNeue-LightItalic.woff') format('woff'),
    url('/Fonts/HelveticaNeue-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/Fonts/HelveticaNeue-Italic.eot');
  src: url('/Fonts/HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'),
    url('/Fonts/HelveticaNeue-Italic.woff2') format('woff2'),
    url('/Fonts/HelveticaNeue-Italic.woff') format('woff'),
    url('/Fonts/HelveticaNeue-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/Fonts/HelveticaNeue-MediumItalic.eot');
  src: url('/Fonts/HelveticaNeue-MediumItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/Fonts/HelveticaNeue-MediumItalic.woff2') format('woff2'),
    url('/Fonts/HelveticaNeue-MediumItalic.woff') format('woff'),
    url('/Fonts/HelveticaNeue-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/Fonts/HelveticaNeue-Medium.eot');
  src: url('/Fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
    url('/Fonts/HelveticaNeue-Medium.woff2') format('woff2'),
    url('/Fonts/HelveticaNeue-Medium.woff') format('woff'),
    url('/Fonts/HelveticaNeue-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/Fonts/HelveticaNeue-Light.eot');
  src: url('/Fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
    url('/Fonts/HelveticaNeue-Light.woff2') format('woff2'),
    url('/Fonts/HelveticaNeue-Light.woff') format('woff'),
    url('/Fonts/HelveticaNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/Fonts/HelveticaNeue-UltraLight.eot');
  src: url('/Fonts/HelveticaNeue-UltraLight.eot?#iefix')
      format('embedded-opentype'),
    url('/Fonts/HelveticaNeue-UltraLight.woff2') format('woff2'),
    url('/Fonts/HelveticaNeue-UltraLight.woff') format('woff'),
    url('/Fonts/HelveticaNeue-UltraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/Fonts/HelveticaNeue-ThinItalic.eot');
  src: url('/Fonts/HelveticaNeue-ThinItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/Fonts/HelveticaNeue-ThinItalic.woff2') format('woff2'),
    url('/Fonts/HelveticaNeue-ThinItalic.woff') format('woff'),
    url('/Fonts/HelveticaNeue-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/Fonts/HelveticaNeue-UltraLightItalic.eot');
  src: url('/Fonts/HelveticaNeue-UltraLightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/Fonts/HelveticaNeue-UltraLightItalic.woff2') format('woff2'),
    url('/Fonts/HelveticaNeue-UltraLightItalic.woff') format('woff'),
    url('/Fonts/HelveticaNeue-UltraLightItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/Fonts/Helvetica-Oblique.eot');
  src: url('/Fonts/Helvetica-Oblique.eot?#iefix') format('embedded-opentype'),
    url('/Fonts/Helvetica-Oblique.woff2') format('woff2'),
    url('/Fonts/Helvetica-Oblique.woff') format('woff'),
    url('/Fonts/Helvetica-Oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/Fonts/HelveticaNeue-Thin.eot');
  src: url('/Fonts/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
    url('/Fonts/HelveticaNeue-Thin.woff2') format('woff2'),
    url('/Fonts/HelveticaNeue-Thin.woff') format('woff'),
    url('/Fonts/HelveticaNeue-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saol Display';
  src: url('/Fonts/SaolDisplay-LightItalic.eot');
  src: url('/Fonts/SaolDisplay-LightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/Fonts/SaolDisplay-LightItalic.woff2') format('woff2'),
    url('/Fonts/SaolDisplay-LightItalic.woff') format('woff'),
    url('/Fonts/SaolDisplay-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Saol Display';
  src: url('/Fonts/SaolDisplay-Regular.eot');
  src: url('/Fonts/SaolDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('/Fonts/SaolDisplay-Regular.woff2') format('woff2'),
    url('/Fonts/SaolDisplay-Regular.woff') format('woff'),
    url('/Fonts/SaolDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saol Display';
  src: url('/Fonts/SaolDisplay-Light.eot');
  src: url('/Fonts/SaolDisplay-Light.eot?#iefix') format('embedded-opentype'),
    url('/Fonts/SaolDisplay-Light.woff2') format('woff2'),
    url('/Fonts/SaolDisplay-Light.woff') format('woff'),
    url('/Fonts/SaolDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saol Display';
  src: url('/Fonts/SaolDisplay-SemiboldItalic.eot');
  src: url('/Fonts/SaolDisplay-SemiboldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/Fonts/SaolDisplay-SemiboldItalic.woff2') format('woff2'),
    url('/Fonts/SaolDisplay-SemiboldItalic.woff') format('woff'),
    url('/Fonts/SaolDisplay-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Saol Display';
  src: url('/Fonts/SaolDisplay-Regular_1.eot');
  src: url('/Fonts/SaolDisplay-Regular_1.eot?#iefix')
      format('embedded-opentype'),
    url('/Fonts/SaolDisplay-Regular_1.woff2') format('woff2'),
    url('/Fonts/SaolDisplay-Regular_1.woff') format('woff'),
    url('/Fonts/SaolDisplay-Regular_1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url('/Fonts/Poppins-Bold.otf') format('otf'),
    url('/Fonts/Poppins-Bold.ttf') format('truetype'),
    url('/Fonts/Poppins-Bold.woff2') format('woff2'),
    url('/Fonts/Poppins-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('/Fonts/Poppins-Medium.otf') format('otf'),
    url('/Fonts/Poppins-Medium.ttf') format('truetype'),
    url('/Fonts/Poppins-Medium.woff2') format('woff2'),
    url('/Fonts/Poppins-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ActayWide-Bold';
  src: url('/Fonts/ActayWide-Bold.otf') format('otf'),
    url('/Fonts/ActayWide-Bold.woff2') format('woff2'),
    url('/Fonts/ActayWide-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('/Fonts/Poppins-Light.otf') format('otf'),
    url('/Fonts/Poppins-Light.ttf') format('truetype'),
    url('/Fonts/Poppins-Light.woff2') format('woff2'),
    url('/Fonts/Poppins-Light.woff') format('woff');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('/Fonts/Poppins-SemiBold.otf') format('otf'),
    url('/Fonts/Poppins-SemiBold.ttf') format('truetype'),
    url('/Fonts/Poppins-SemiBold.woff') format('woff'),
    url('/Fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-LightItalic';
  src: url('/Fonts/Poppins-LightItalic.otf') format('otf'),
    url('/Fonts/Poppins-LightItalic.ttf') format('truetype'),
    url('/Fonts/Poppins-Lightitalic.woff') format('woff'),
    url('/Fonts/Poppins-Lightitalic.woff2') format('woff2');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

/* HQ fonts */
@font-face {
  font-family: 'GalanoGrotesqueAltDEMO';
  src: url('/Fonts/PGalanoGrotesqueAltDEMO-Bold.ttf') format('ttf');
  src: url('/Fonts/GalanoGrotesqueAltDEMO-Bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: GalanoGrotesqueAltDEMO ;
  src: url(/fonts/GalanoGrotesqueAltDEMO-Bold.ttf);
  font-weight: light;
  font-style: normal;
  font-display: swap;
} */